<!DOCTYPE html>
<html>
<title>Home: RFID transactions Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family:Arial, Helvetica, sans-serif;
    }
</style>

<body class="w3-light-grey">

    <!-- Top container -->
    <%- include("navbar", {})  %> 

    <!-- Sidebar/menu -->
    <%- include("sidebar", {}) %>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <br>
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-money"></i> REGISTER A CARD</b></h5>
        </header>
        <br>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-container w3-row-padding">
                        <form class="w3-half" style="margin: auto;" onsubmit="return sendForm()">
                            <label class="w3-text-blue"><b>Card UUID</b></label>
                            <input class="w3-input w3-border" id="uuid" type="text">
                             <br>
                            <label class="w3-text-blue"><b>Customer First Name</b></label>
                            <input class="w3-input w3-border" id="fname" type="text">
                            <br>
                            <label class="w3-text-blue"><b>Customer Last Name</b></label>
                            <input class="w3-input w3-border" id="lastname" type="text">
                            <br>
                            <button class="w3-btn w3-blue">Register</button>
                        </form>
                </div>
            </div>
        </div>
        <hr>
        <br><br><br><br>

        <!-- Footer -->
        <%- include("footer", {})  %>

        <!-- End page content -->
    </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

<script src="/static/js/socket.io.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    const socket = io("http://localhost:3000");
    function sendForm(){
        let uuid = document.getElementById("uuid").value
        let fname = document.getElementById("fname").value
        let lname = document.getElementById("lastname").value
        axios.post("http://localhost:3000/api/cards/new-card", {
            "cardUUID": uuid,
            "cardBalance": 0,
            "customerFirstName": fname,
            "customerLastName": lname
        }).then(res=> {
            if(res.data.success){
                console.log("created")
            }else{
                console.log(res.data.message)
            }
        }).catch(err=> {
            console.log(err)
        })
        return false;
    }
</script>

</body>

</html>