<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-black">
    <center>
        <h4>RFID SYSTEM MANAGEMENT</h4>
        <p>2021&copy; All right reserved</p>
        <p>Powered by <a href="https://egide.netlify.app" target="_blank">Harerimana Egide</a></p>
    </center>
</footer>