<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">
        <button style="font-weight: bold;" class="w3-bar-item w3-padding-16 w3-button w3-hide-large w3-hover-none w3-hover-text-black" onclick="w3_open();">
            <i  class="fa fa-bars w3-margin-right"></i> Menu
        </button>
        <b class="w3-hide-small">Home</b>
    </a>
    <a href="/register-card" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register Card</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Top Up</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/register-card" class="w3-bar-item w3-button w3-padding-large">Register Card</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">TopUp</a>
    </div>
</div>